<#
var namespaceName = "Egs";
var classDescription = "public partial class CursorViewModel";

var propertyElementsList = new List<OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated>()
{
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "bool", "IsTracking", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "bool", "IsVisible", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "double", "PositionX", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "double", "PositionY", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "double", "Rotation", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "double", "RelativeZ", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "double", "FingerPitch", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "bool", "IsTouching", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "bool", "IsLongTouching", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "CursorTapKind", "LastTapKind", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("[DataMember]", "public", "int", "CurrentImageIndex", "", false),
};
var pendingPropertyElementsList = new List<OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated>()
{
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("", "public", "double", "CursorImageOffsetX", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("", "public", "double", "CursorImageOffsetY", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("", "public", "double", "CursorImageLeft", "internal", false),
    new OnePropertyInfoInPropertiesWhichCallPropertyChangedAfterAllUpdated("", "public", "double", "CursorImageTop", "internal", false),
};
#>
<#@ include file=".\DotNetUtility\PartialClass_PropertiesWhichCallPropertyChangedAfterAllUpdated.t4" #>
